html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.conway-container {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.colors {
  max-width: 200px;
}

.color-box-title {
  max-width: 20%;
  padding: 5px;
  font-size: 12px;

}

.color-palete {
  display: flex;
  flex-flow: column;
}

.color-box {
  padding: 3px;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.conway-rules {
  display: flex;
  flex-flow: column;
  padding-bottom: 10px;
}

.conway-rule {
  padding: 2px;
  font-size: 14px;
}

.adjusters {
  max-width: 20%;
  position: relative;
  display: flex;
  flex-flow: column;
}

button {
  padding: 5px;
  margin: 10px;
}


.speed-status {
  margin: 10px;
}

h1 {
  font-size: 40px;
  margin: 10px;
}

figure {
  display: inline-block;
  border: 0.5px solid lightgrey;
}

ul {
  min-width: 650px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  background-color: lightgrey;
  float: left;
  border: 0.5px solid white;
  width: 11px;
  height: 11px;
}
