html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.conway {
  min-width: 650px;
}


.conway-container {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.colors {
  max-width: 300px;
}

.color-box-title {
  max-width: 100%;
  padding: 5px;
  font-size: 12px;
}

.color-palete {
  display: flex;
  flex-flow: row;
  min-width: 155px;
  background-color: #f9f9f9;
  border-top-right-radius: 10px;
}

.adjusters {
  max-width: 20%;
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: #f9f9f9;
  border-top-left-radius: 10px;
}

li {
  background-color: lightgrey;
  float: left;
  border: 0.5px solid white;
  width: 11px;
  height: 11px;
}

figure {
  display: inline-block;
  border: 0.5px solid lightgrey;
}

.color-box {
  padding: 3px;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.conway-rules {
  display: flex;
  flex-flow: column;
  padding-bottom: 10px;
}

#conway-options-title {
  padding-top: 15px;
}

#conway-options {
  padding: 10px;
  margin: 10px;
}

.conway-rule {
  padding: 2px;
  font-size: 14px;
}

button {
  padding: 5px;
  margin: 10px;
}


.speed-status {
  margin: 10px;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}
